.integration_card {
    width: 340px;
    border-radius: 7px;
}

.integration_description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.integration_icon {
    font-size: 28px;
    border-radius: 50%;
}

.integration_icon_success {
    background-color: #2BD48D;
    border: 10px solid #2BD48D;
    color: #fff;
}

.integration_icon_undetermined {
    background-color: grey;
    border: 10px solid grey;
    color: #fff;
}

.integration_icon_error {
    background-color: var(--text-orange);
    border: 10px solid var(--text-orange);
    color: #fff;
}

.integration_icon_container {
    flex-basis: 25%;
}

.integration_add {
    border: solid 1px #dbe2e8;
    padding: 8px 24px 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    /*justify-content: space-around;*/
    /*width: 200px;*/
}
.integration_add:hover {

}

.section_create {
    margin: 0 -5px;
}

.section_create > div {
    margin: 0 5px;
}

.modal-body > .form-group {
    padding-right: 10px;
}

.section-name {
    text-transform: capitalize;
}

/*.integration_icon {*/
/*    font-size: 20px;*/
/*}*/

/*.col-6:first-child {*/
/*	padding-left: 1px;*/
/*}*/
/*.col-6:last-child {*/
/*	padding-right: 1px;*/
/*}*/

.form-row {
    margin: 0;
}