.integration_card {
    width: 340px;
    height: 104px;
}

.integration_card .badge {
    background-color: white;
    border: 1px solid;
    color: var(--basic);
}

.integration_description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.integration_icon {
    font-size: 28px;
    background-color: #2BD48D;
    border-radius: 50%;
    border: 10px solid #2BD48D;
    color: #fff;
}

.integration_add {
    border: 1px solid;
    justify-content: space-around;
}

.section_create {
    margin-left: auto;
}

.modal-body > .form-group {
    padding-right: 10px;
}

.section-name {
    text-transform: capitalize;
}

.integration_icon {
    font-size: 20px;
}

.col-6:first-child {
	padding-left: 1px;
}
.col-6:last-child {
	padding-right: 1px;
}

.form-row {
    margin: 0;
}