{% for section in integrations_section_list | default([]) %}
    <div class="section integration_section">
        <div class="row">
            <div class="col">
                <h5 class="integration_section_name">
                    {{- section.name | capitalize -}}
                </h5>
                <p>
                    <h13>
                        {{- section.test_planner_description | safe -}}
                    </h13>
                </p>
            </div>
        </div>
        <div class="row d-flex mt-2" id={{ "security_sast_%s_section" | format(section.name) }}>
            {{ template_slot("security_sast_%s_content" | format(section.name)) | safe }}
        </div>
    </div>
{% endfor %}
