{#{% set integration_name = config['integration_name'] %}#}
{#{% set display_name = config['display_name'] %}#}
{#{% set show_test_connection = config['show_test_connection'] | default(True) %}#}

<div class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog"
     id="{{ integration_name }}_integration"
>
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>{{ display_name }} integration</h2>
                        <p v-if="id">
                            <h13>id: [[ id ]]</h13>
                        </p>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary"
                                :class="{disabled: is_fetching, updating: is_fetching}"
                                @click.prevent="id ? update() : create()"
                        >
                            [[ id ? 'Update' : 'Save' ]]
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
                <div class="form-group">
                    <label class="w-100">
                        <h9>Description</h9>
                        <textarea class="form-control" rows="1" placeholder="Optional"
                                  v-model="description">
                            </textarea>

                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="checkbox"
                               v-model="is_default">
                        <h9>
                            Set as default
                        </h9>
                    </label>
                </div>
                {% if show_test_connection %}
                    <button type="button" class="btn btn-sm mt-3"
                            @click.prevent="test_connection"
                            :class="[{disabled: is_fetching, updating: is_fetching, 'is-invalid': error.check_connection}, test_connection_class]"
                    >
                        Test connection
                    </button>
                    <div class="invalid-feedback">[[ error.check_connection ]]</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% block modal_footer %}{% endblock %}