{% for section in config['integrations_section_list'] %}
    <div class="section integration_section">
        <div class="row">
            <div class="col">
                <h7 class="integration_section_name">{{ section.name }}</h7>
                <p>
                    <h13>
                        {{ section.test_planner_description | safe }}
                    </h13>
                </p>
            </div>
        </div>
        <div class="row d-flex mt-2" id={{ "security_%s_section" | format(section.name) }}>
            {{ template_slot("security_%s" | format(section.name), payload=config) | safe }}
        </div>
    </div>
{% endfor %}

<script src="{{ url_for('integrations.static', filename='js/security_app_create.js') }}"></script>