{% set instance_name_prefix = instance_name_prefix | default('') %}

<div class="section integration_section">
    <div class="row">
        <div class="col">
            <p class="integration_section_name font-uppercase font-h5 font-semibold">
                {{- processing.name | capitalize -}}
            </p>
            <p class="font-h6 font-weight-400">{{- processing.test_planner_description | safe -}}</p>
        </div>
    </div>
    <div class="d-grid grid-column-2 gap-50 grid-items-start mt-4" id="ui_performance_processing_section">
        {{ template_slot("ui_performance_processing_content", payload={
                        'instance_name_prefix': instance_name_prefix
                        }) | safe }}
    </div>
</div> 

{% if reporters %}
    <div class="section integration_section">
        <div class="row">
            <div class="col">
                <p class="integration_section_name font-uppercase font-h5 font-semibold">
                    {{- reporters.name | capitalize -}}
                </p>
                <p class="font-h6 font-weight-400">{{- reporters.test_planner_description | safe -}}</p>
            </div>
        </div>
        <div class="d-grid grid-column-2 gap-50 grid-items-start mt-4" id="ui_performance_reporters_section">
            {{ template_slot("ui_performance_reporters_content", payload={
                            'instance_name_prefix': instance_name_prefix
                            }) | safe }}
        </div>
    </div>
{% endif %}

{% if system %}
    <div class="section integration_section">
        <div class="row">
            <div class="col">
                <p class="integration_section_name font-uppercase font-h5 font-semibold">
                    {{- system.name | capitalize -}}
                </p>
                <p class="font-h6 font-weight-400">{{- system.test_planner_description | safe -}}</p>
            </div>
        </div>
        <div class="d-grid grid-column-2 gap-50 grid-items-start mt-4" id="ui_performance_system_section">
            {{ template_slot("ui_performance_system_content", payload={
                            'instance_name_prefix': instance_name_prefix
                            }) | safe }}
        </div>
    </div>
{% endif %}
