{% set integrations_section_list = integrations_section_list | default([]) %}
{% set existing_integrations = existing_integrations | default({}) %}
<div class="card card-12">
    <div class="card-body">
        <div class="row border-bottom">
            <div class="card card-x shadow-none">
                <div class="card-header">
                    <h1>Integrations</h1>
                    <h9>Integrate services into the project</h9>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    <Integration-Sections
        @register="register"
        instance_name="integration_sections"
        :initial_sections='{{ all_sections | tojson }}'
    >
        {% for section in all_sections %}
            <template #section_create_{{ section['name'] }}>
                {{ template_slot("integrations_%s_content" | format(section['name'])) | safe }}
            </template>
        {% endfor %}
    </Integration-Sections>
    </div>
</div>
