{% set integrations_section_list = integrations_section_list | default([]) %}
{% set existing_integrations = existing_integrations | default({}) %}
<div class="card card-12">
    <div class="card-body">
        <div class="row border-bottom">
            <div class="card card-x shadow-none">
                <div class="card-header">
                    <h1>Integrations</h1>
                    <h9>Integrate services into the project</h9>
                </div>
                <div class="card-body">
{#                    <h13></h13>#}
                </div>
            </div>
        </div>
{#    {{ integrations_section_list | list_pd_to_json}}#}
        <h1>new variant</h1>
        <button class="btn"
                @click="custom_data.handle_integrations_update({name: 'reporter_email', section_name: 'reporters'})"
        >UPDATE</button>
    <br />
{#    {{ all_sections | tojson }}#}
    <Integration-Sections
        @register="register"
        instance_name="integration_sections"
        :initial_sections='{{ all_sections | tojson }}'
    >
        {% for section in all_sections %}
            <template #section_create_{{ section['name'] }}>
                {{ template_slot("integrations_%s_content" | format(section['name'])) | safe }}
            </template>
        {% endfor %}
    </Integration-Sections>

    <br />
    <h1>old variant</h1>
    <br />
        {% for section in integrations_section_list %}
            {% set section_integrations = existing_integrations.get(section.name, []) %}
{#            {{ section_integrations | list_pd_to_json }}#}
            <div class="row section_row">
                <div class="card card-x shadow-none">
                    <div class="card-header">
                        <h3 class="section-name">{{ section.name }}</h3>
                        <h9>{{ section.integration_description }}</h9>
                    </div>
                    <div class="card-body">
                        <div class="row d-flex section_cards">
                            {% for i in section_integrations %}
{#                                <pre>{{ i.dict() | pretty_json }}</pre>#}
                                <Integration-Card
                                    v-bind="{{ i.json() }}"
                                ></Integration-Card>
                                {{ template_slot("integration_card_%s" | format(i.name), payload=i) | safe }}
                                <hr style="transform: rotate(90deg) translate(50%, 50%); width: 80px;"/>
                            {% endfor %}
                        </div>
                        <div class="row d-flex mt-3 section_create">
                            {{ template_slot("integrations_%s_content" | format(section.name)) | safe }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>